<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Form 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Encrypt Your Text Into Sound</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="contact-wrap">
                                <div id="form-message-warning" class="mb-4 w-100 text-center"></div>
                                <div id="form-message-success" class="mb-4 w-100 text-center">
									{% if form_message_success %}
									Your Text Has Been Successfully Encrypted
									<br>
									<a href="{{ download_audio_link }}" class="btn btn-success">Download Encrypted Audio</a>
								{% endif %}
                                </div>
                                <form method="POST" action="{{ url_for('process_data_input') }}" id="process_data_input" name="process_data_input" class="process_data_input" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="message" id="message" placeholder="Text You Want To Encrypt" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="key" id="key" placeholder="Key" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="audio_file">Select an audio file (mp3 or wav):</label>
                                                <input type="file" name="audio_file" accept=".mp3, .wav" placeholder="Put Your Music File" required>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Send To Encrypt" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.validate.min.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>
